* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #CECAC8;
}

body {
  font-family: "Gill Sans MT", "Gill Sans", "Calibri", sans-serif;
  letter-spacing: 2px;
}

nav {
  height: 13vh;
  background: #CECAC8;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}

.page-title {
  height: 10vh;
  width: 30vh;
  background-color: #CECAC8;
  position: absolute;
  text-align: center;

}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  margin-left: auto;
  margin-right: 6.25em;
}

.nav-links li a {
  color: #cb483b;
  text-decoration: none;
  font-size: 1.3vw;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-h1{
  position: absolute;
  overflow: hidden;
  display: flex;
}

.tasters-img{
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: #cb483b;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #CECAC8;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -15%);
    -webkit-clip-path: circle(100px at 90% -15%);
    transition: all 0.5s ease-out;
    pointer-events: none;

  }

  .nav-links.open {
    clip-path: circle(1000px at 100% -15%);
    -webkit-clip-path: circle(1000px at 100% -15%);
    pointer-events: all;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .landing {
    overflow: hidden;
    align-items: center;

  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.7s ease 0.1s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.7s ease 0.2s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.7s ease 0.3s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.7s ease 0.4s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.7s ease 0.5s;
  }

  li.fade {
    opacity: 1;
  }

  .tasters-img{
    width: auto;
    height: auto

  }
}
